@font-face {
    font-family:'Special Elite';
    font-weight: normal;
    font-display: swap;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
}